$offset: 15px;

@mixin widthBox($n, $width, $off) {
    $val: 100 /12 *$n;

    @media screen and (max-width: $width) {
        width: calc((#{$val} * 1%) - #{$off}*2);
        @content;
    }
}

@mixin WidthBlock($marg) {
    margin-left: calc(#{$marg} *(-1));
    margin-right: calc(#{$marg} *(-1));
} 


.product{
    &__wrapper{
    flex: 0 1 100%;
    padding: 30px;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.69);
    margin: 30px 30px 30px 30px;
    border-radius: 30px;
    }
    &__block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include WidthBlock($offset);
    }   
    &__item{
        @include widthBox(3, 1920px, $offset);
        @include widthBox(6, 1500px, $offset);
        @include widthBox(12, 1000px, $offset);
        
    }
}
